.quote{
	padding-top:150px;
	margin: 0 auto;
	width:50%;
	text-align: center;	
}

.enterMemory input{
	text-align:left;
	margin:0 auto;
	float:left;
	width:25%;
	display:inline;
	margin-left:500px;
}

.enterMemory button{
	float:left;
	width:50px;
}

#showMemories{
	margin:0 auto;
	width:25%;
	margin-left:500px;
	line-height: 30pt;
}