
body {
 background-image: url("images/bg_01.jpg");
 background-size: cover;
 color: white;
}

h1 {
	padding-top:3%;
	margin-bottom: 40px;
	text-align: center;
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 28px;
}

/* DATE */

.date {
	text-align: center;
	font-size:36px;
	padding-top: 15%;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* MEMORY INPUT */
.enterMemory input{
	text-align: center;
	height: 36px;
	width: 100%;
	margin-bottom: 20px;
	border: none;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.10);
	transition-duration:.25s;
}

.enterMemory input:focus{
	-webkit-box-shadow: -4px 0px 46px -1px rgba(166,158,166,1);
-moz-box-shadow: -4px 0px 46px -1px rgba(166,158,166,1);
box-shadow: -4px 0px 46px -1px rgba(166,158,166,1);
transition-duration:.25s;
}

/* MEMORY DISPLAY */

.showMemories{
	height: 43.5%;
	margin: 0 auto;
	line-height: 30pt;
	overflow: auto;
}

.showMemories input {
	padding-left: 20px;
	font-size: 20px;
	color: white;
	height: 40px;
	width: 100%;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
	font-color: white;
	border: none;
	background-color: rgba(255, 255, 255, 0.10);
	border-bottom: 1px solid #595959;
}

.showMemories input:focus{
	border-bottom: 1px solid gray;
	transition-duration:.3s;
}

.history{
	display:none;
}

.analysis{
	display:none;
}

.analysis img {
	display: block;
 	width: 100%;
 	padding-top: 30px;
}

/* TEXT INPUT */
input {
	color: white;
	outline: none;
	opacity: 0.7;
	
}

::-webkit-input-placeholder {
   color: #FFF;
}

:-moz-placeholder { /* Firefox 18- */
   color: #FFF;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF; 
}

:-ms-input-placeholder {  
   color: #FFF;  
}

/* NAV STYLING */

.nav {
	margin: 0;
	padding:0;
	text-align:center;
	background-color: rgba(255, 255, 255, 0.10);
	height: 75px;
	display:block;
	width:100%;
	left:0;
	position:fixed;
	margin-top: -10px;
}

.nav button {
	margin-left: 40px;
	margin-right: 40px;
	background: none;
	border: none;
	width: 50px;
	height: 50px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.nav button:focus {
	outline: none;
}

#loadMain {
	background-image: url('images/days/day09.png');
	background-size: 36px 36px;
	height: 36px;
	width: 36px;
}

#loadHistory {
	background-image: url('images/calendar.png');
	background-size: 36px 36px;
	height: 36px;
	width: 36px;
}

#loadAnalysis {
	background-image: url('images/cloud_word.png');
	background-size: 42px 42px;
	height: 42px;
	width: 42px;
}

#loadMain:hover, #loadHistory:hover, #loadAnalysis:hover{
cursor: hand;
opacity: .5;
transition-duration: .3s;
}

/* MISC PAGE ELEMENTS*/

#loadSettings {
	position: absolute;
  bottom: 10;
  right: 20px;
	border: none;
	outline: none;
	background: transparent;
	color: #FFF;
	font-size: 20px;
}

#loadSettings:hover{
	cursor: hand;
	opacity: .5;
	transition-duration: .3s;
}

#clear-database{
	position:relative;
	z-index:1;
}

#calendar{
	margin-top:65px;
}

/* TABLES */
/*table {
  text-align: center;
  margin-left: 370px;
  border-collapse: collapse;
  max-width: 650px;

}

table, th, td {
    border: 1px solid black;
    padding: 15px;
}
*/
